{% extends "::base.html.twig" %}

{% block body %}

Détails du projet :

{% if  projects %}
	<p class="page-title">{{projects.name}}</p>

	{# <p>Date de début du projet : {{projects.startDate|date('d/m/Y')}}</p> #}
	{# <p>Date de fin du projet : {{projects.endDate|date('d/m/Y')}}</p> #}
	{# <p>Note : {{projects.rate}}</p> #}
	
	<p>{{projects.description}}</p>
{% endif %}

{% endblock %}