Liste des projets :

{% if  projects %}
	<ul>
		{% for project in projects %}
			<li>
				<p><a href="project/{{project.idProjects}}">{{project.name}}</a></p>
				<p>{{project.startDate|date('d/m/Y')}}</p>
				<p>{{project.endDate|date('d/m/Y')}}</p>
				<p>{{project.rate}}</p>
				<p>{{project.description}}</p>
			</li>
			
		{% endfor %}
	</ul>
{% endif %}

<a href="projects/add">Ajouter un projet</a>