<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Imie/css/styles.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Imie/css/responsive.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="container">
            <!-- header -->
            <div id="header">
                <!-- logo -->
                <a href="{{ path('home_homepage') }}"><div id="logo"></div></a>
                <!-- title --> 
                <div id="projectTitle">
                    Projets de l'I.M.I.E.
                </div>
                <!-- user's space -->
                <div id="userSpace">
                    <div>{{ app.user.username }}</div>
                    <div id="buttonList">
                        <div>Notification</div>
                        <div>Profil</div>
                        <div>Deconnexion</div>
                    </div>  
                </div>
            </div>
            <div id="content">
                <div id="main-container">
                    {% block body %}{% endblock %}
                </div>
                <div id="sidebar">
                    <div id ="searchMenu">
                        <p>Outils de recherche</p>
                        
                        <label for="keywords">Mots clés :</label>
                        <input id="keywords" type="text">
    
                    </div>
    
                    <div id ="rightMenu">
                        <p>Menu</p>
                        <ul id ="rightMenuList">
                            <li><a href="#">Les étudiants</a></li>
                            <li><a href="{{ path('projects_homepage') }}">Les projets</a></li>
                            <li><a href="{{ path('imieskills_skills_list') }}">Listes des compétences</a></li>
                            <li><a href="#">Mon profil</a></li>
                            <li><a href="#">Administration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div id="footer">
                
            </div>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
