<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Imie/css/styles.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Imie/css/responsive.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="container">
            <!-- header -->
            <div id="header">
                <!-- logo -->
                <a href="{{ path('home_homepage_bis') }}"><div id="logo"></div></a>
                <!-- title --> 
                <div id="projectTitle">
                    Projets de l'I.M.I.E.
                </div>
                <a href="" id="mobil-menu"></a>
                <ul id="menu-mobile">
                    <li><a href="{{ path('users_list') }}">Les étudiants</a></li>
                    <li><a href="{{ path('projects_homepage') }}">Les projets</a></li>
                    <li><a href="{{ path('imieskills_skills_list') }}">Listes des compétences</a></li>
                    <li><a href="{{ path('users_profil') }}">Mon profil</a></li>
                    <li><a href="#" class="admin-panel">Administration</a>
                        <ul class="panel-admin">
                            <li><a href="{{ path('users_admin_import') }}">Importer les utilisateurs</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- user's space -->
                <div id="userSpace">
                    <div>{{ app.user.username }}</div>
                    <ul id="buttonList">
                        <li class="notif"><a href=""></a></li>
                        <li class="profil"><a href="{{ path('users_profil') }}"></a></li>
                        <li class="logout"><a href="{{ path('logout') }}"></a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <div id="main-container">
                    {% block body %}{% endblock %}
                </div>
                <div id="sidebar">
                    <div id ="searchMenu">
                        <h2>Outils de recherche</h2>
                        <select>
                        	<option>Type de contenus</option>
                        	<option value="user">Utilisateurs</option>
                        	<option value="skills">Compétences</option>
                        	<option value="projects">Utilisateurs</option>
                        </select>
                        <label for="keywords">Mots clés :</label>
                        <input id="keywords" type="text" placeholder="Votre recherche">
    										<button type="submit">Recherchez</button>
                    </div>
    
                    <div id ="rightMenu">
                        <h2>Menu</h2>
                        <ul id ="rightMenuList">
                            <li><a href="{{ path('users_list') }}">Les étudiants</a></li>
                            <li><a href="{{ path('projects_homepage') }}">Les projets</a></li>
                            <li><a href="{{ path('imieskills_skills_list') }}">Listes des compétences</a></li>
                            <li><a href="{{ path('users_profil') }}">Mon profil</a></li>
                            <li><a href="#" class="admin-panel" >Administration</a>
                                <ul class="panel-admin">
                                    <li><a href="{{ path('users_admin_import') }}">Importer les utilisateurs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div id="footer">
                <a id="imie-link" href="imie-ecole-informatique.fr" target="_blank">imie-ecole-informatique.fr</a>
                <a id="term-use" href="">Mentions légales</a>
            </div>
            	<script src="{{ asset('bundles/Imie/js/jquery.min.js') }}"></script>
            	<script src="{{ asset('bundles/Imie/js/js.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
